<p>Todo App!</p>
<input type="text" placeholder="Enter the items" #item>
<br> <br>

<button (click)="addTask(item.value); item.value=''">Add TAsk</button>

<div class="container">
    <div class="content">
        <ul *ngFor="let l of list">
            <li>{{l.name}}
                 <button (click)="removeTask(l.id)">Delete</button>
                 <button (click)="editTask(l)">Edit</button>
            </li>
        </ul>
    </div>
</div>


<div class="container fluid" style="margin-top: 10px;">
    <div class="row">
        <!-- Event binding -->
        <div class="col-md-4">
            <h1>Event Binding</h1>
            <button type="button" (click)="showData($event)">Show Event</button>
        </div>
        <!-- Property Binding -->
        <div class="col-md-4">
            <h1>One way Data binding</h1>
            <input type="text" [value]="name">
            {{name}}
            <h1>One way data Binding</h1>
            <input type="text" name="hobby" ngModel>
        </div>
        <!-- Two way Data Binding -->
        <div class="col-md-4">
            <h1>Two Way Data Binding</h1>
            <input type="text" [(ngModel)]="lastName">
            {{lastName}}
        </div>
    </div>
</div>

